.form {
	&__label--hidden {
		display: none;
	}
	&__input {
		display: block;
		width: 90%;
		padding: .75em;
		margin: 0 auto;
		margin-bottom: 1.5em;
		border-style: none none solid none;
		border-bottom: 5px solid $viking-teal;
		font-weight: $font-weight--bolder;
	}
	@include mq(break){
		width: 95%;
	}
}